<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Battleship</h1>
    <form method="POST" action="new_board">
        <%= csrf_token_field %>

        <h4> Create your board!</h4>

        <div>
          Number of columns:
          <input type="text" name="x" />
        </div>
        <div>
          Number of rows:
          <input type="text" name="y" />
        </div>

        <div>
          <button type="submit" class="btn btn-success" id="submit_board">Create</button>
          You created a board with: <%= @x %> columns and <%= @y %> rows.
        </div>

    </form>


</body>
</html>
